---
layout: page
title: "Douglas Lopes" # same as index_title in _config file
description: "showaboutdescription"
header-img: "img/home-bg.jpg"
---

<!-- About Content -->
<section id="about">
	<div>
		<p>
			My name is Douglas Valeiro Lopes, I was born in 1994 in Sao Paulo, Brazil. Son of a designer I was always interested in drawings, paintings, movies, architecture, anything related to art. Always mesmerized by the importance of architecture in people’s life, and dreaming I could be part of that.
			
		</p>
		<p>
I did most of my primary education in Sao Paulo, except for three years in Ibiuna, a small town, before coming back to Sao Paulo when I was accepted in the Mackenzie Presbyterian University in São Paulo.

		</p>
		<p>
Accepted in Brazilian Government Program called Brazil Scientific Mobility Program which, students, from all around the country are selected through a performance academic analysis to receive the benefit of studying abroad for one year with full expense cover scholarship (starting on August 2015).

		</p>
		<p>
I was an exchange student at Washington University in St. Louis  for two semester and now I am in Illinois Institute of Technology in Chicago, participating of a Research In Digital Fabrication, oriented by professor Brett Balogh. I’ll publish everything I find interesting and inspiring, follow me.

		</p>
	</div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio">
	<div class="row">
		<div class="text-center">
			<h2>Here's the stuff I've yet to disavow.</h2>
			<hr>
		</div>
	</div>

	<div class="row">
		{% for item in site.portfolio %}
		<div class="col-sm-4 portfolio-item">
			<a href="#{{ item.anchor }}" class="portfolio-link" data-keyboard="true" data-toggle="modal">
				<div class="caption" >
					<div class="caption-content" >
						{{ item.title }}<p></p>
						<i class="fa fa-search-plus"></i><p></p>
						Category: {{ item.category }}
					</div>
				</div>
				<img src="{{ item.image }}" class="img-responsive" alt="">
			</a>
		</div>
		{% endfor %}
	</section>

	<!-- Portfolio Modals -->
	<section id="portfolio modals">
		{% for item in site.portfolio %}
		<div class="portfolio-modal modal fade" id="{{ item.anchor }}" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl">
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div class="modal-body">
								<h2>{{ item.title }}</h2>
								<hr class="star-primary">
								<img src="{{ item.image }}" class="img-responsive img-centered" alt="">
								<p>{{ item.description }}</p>
								<ul class="list-inline item-details">
									<li>Team:
										<strong>{{ item.team }}
										</strong>
									</li>
									<li>Date:
										<strong>{{ item.date | date: '%B %Y' }}
										</strong>
									</li>
									<li>Category:
										<strong>{{ item.category }}
										</strong>
									</li>
								</ul>
								<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</section>
